elpa-*/
custom.el
anaconda-mode/
*history
recentf
projectile.cache
eln-cache/
recentf_back
bookmarks
tramp
projects
projectile-bookmarks.eld
places
org-roam.db
org-clock-save.el
.org-id-locations
.cask/
server/
eln-cache/
transient/
*~